append styles
  link(href='../css/starter-template.css', rel='stylesheet')
block body
  .container
   .starter-template
    form(name="search", action='/search', method="get")
     div.form-group
        select(name="select")
          option(value="title",selected="selected") Title
          option(value="author") Author
          if input_select=="author"
            option(value="title") Title
            option(value="author",selected="selected") Author            
        input(type="text", name="input",value=input)
        input(type="submit", value="Search")

    br
    if (typeof(qres[0]) !== 'undefined') 
      table(border=1, cellpadding="2")
        thead
          tr
            td
              b Title
            td
              b Source
            td
              b Year
            td
              b Authors
        tbody
          for res in qres
            -var title=res.title.value
            -var title_enc=encodeURIComponent(title)          
            -var source=res.source[0].value
            if res.year.length>0
              -var year=res.year[0].value
            else
              -var year=''
            -var creators=res.creator
            tr
              td
                a(href='article\?title='+title_enc)
                  !=title
              td
                =source
              td
                =year
              td    
                for creator in creators
                  a(href='author?name='+creator.value)
                    =creator.value + '; '


